transformers
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
fastapi
tqdm
pillow
peft
bitsandbytes
accelerate
pandas 
accelerate 
evaluate 
jiwer 
datasets 
kagglehub 
matplotlib
neo4j
langchain
langchain-core
langchain-neo4j
langchain-ollama
ollama
python-dotenv
